PublicTestDataset.zip
TrainDataset_0506.zip
yologt/
img/
TrainDataset/
yolov5/*.txt
datasets/images/train/*
datasets/images/val/*
datasets/labels/train/*
datasets/labels/val/*
yolov5/runs/*
yolov5/round2/
yolov5/data/images/
yolov5/data/public_images/
yolov5/*.git
yolov5x6.pt
tmp.py
*.zip
yolov5/models/mydataset_models/*
yolov5/wandb/*
evolve.txt